[
    {n2o, [
        {app, reactivity},
        {port, 8002},
        {routes, reactivity_routes},
        {log_modules, [
            n2o,
            n2o_heart,
            n2o_nitro,
            n2o_proto,
            n2o_cowboy,
            n2o_stream,
            reactivity_routes,
            reactivity_index
        ]}
    ]}
].
